{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
 <div class="intro">{{ page.intro|richtext }}</div>
<div>News?</div>
<div>Tools being used (with badges "new" and "planned")</div>

<div class="mdl-grid">
    {% for project in page.get_children %}
    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <a class="mdl-navigation__link" href="{{ project.url }}">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ project.title }}</h2>
            </div>
            <div class="mdl-card__media">
                <!--<img src="skytower.jpg" width="173" height="157" border="0" alt="" style="padding:10px;">-->
                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ project.specific.location.y}},{{ project.specific.location.x}}&zoom={{ project.specific.zoom_map}}&size=320x200&maptype=terrain&markers=color:brown%7C{{ project.specific.location.y}},{{ project.specific.location.x}}&key={{GOOGLE_API_KEY}}" width="100%" height="100%" border="0" alt="">
            </div>
            <div class="mdl-card__supporting-text">
                {% for applicationUse in project.specific.applicationFieldUses.all %}
                <span class="mdl-chip"><span class="mdl-chip__text">{{applicationUse.applicationRef}}</span></span>
                {% endfor %}
            </div>
            <!--<div class="mdl-card__actions">-->
            <!--<a href="http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29">Wikipedia entry</a>-->
            <!--</div>-->
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
