{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="intro">{{ page.intro|richtext }}</div>

<div class="mdl-grid">
    {% for tool in page.get_children %}
    <div class="demo-card-square mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
        <a class="mdl-navigation__link" href="{{ tool.url }}">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ tool.title }}</h2>
            </div>
            <div class="mdl-card__media">
                <!--<img src="skytower.jpg" width="173" height="157" border="0" alt="" style="padding:10px;">-->
            </div>
            <div class="mdl-card__supporting-text">
                <p>{{ tool.specific.pitch }}</p>
                {% with total=tool.specific.projects.all.count %}
                {% if total > 0 %}
                <span class="mdl-chip"><span class="mdl-chip__text">{{total}} project{{total|pluralize}}</span></span>
                {% endif %}
                {% endwith %}


                <span class="mdl-chip"><span class="mdl-chip__text">Category X</span></span>
                <span class="mdl-chip"><span class="mdl-chip__text">Category Y</span></span>
            </div>
            <!--<div class="mdl-card__actions">-->
            <!--<a href="http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29">Wikipedia entry</a>-->
            <!--</div>-->
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
